{% extends 'base.html' %}
{% block content %}
<form method="post">
<label for="product name">Product name</label>
<input type="text" name="name" placeholder="Enter product name">
<label for="Description">Description</label>
<input type="text" name="description" placeholder="Product Description">
<input type="submit">

</form>
<h1>products</h1>
<table border="1">
    <tr>
       
        <th>Name</th>
        <th>Description</th>
        </tr>
        {% for items in myitems %}
        <tr>
           
            <td>{{items['name']}}</td>
            <td>{{items['description']}}</td>
           
        </tr>
        {% endfor %}
</table>
{% endblock %}
